<% layout("layouts/boilerplate") %>

    <div class="row">
        <h1 class="text-center">Edit Post</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/posts/<%= post._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="post[title]" id="title" value="<%= post.title %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>



                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="post[description]" id="description"
                        required><%= post.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-secondary">Update Post</button>
                </div>

            </form>

            <a href="/posts/<%= post._id %>">Cancel</a>

        </div>
    </div>